/* src/style.css */
body {
    background-color: #505050;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  main {
    background-color: rgba(255,255,255,0.1);
    max-width: 600px;
    border-radius: 10px;
    padding: 10px 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  
  h2 {
    color: #2c2d6a;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 10px;
  }
  
  button {
    background-color: #141683;
    border: 0 none;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  
  footer {
    color: #161616;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }

  .rangePassword {
    appearance: none;
    width: 100%;
    height: 3px;
    background: #93b7be;
    outline: 0;
    margin: 0;
    padding: 0;
    opacity: .9;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
  }

  #labelNumberInput {
    background-color: #505050;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3vh;
    border-radius: 5px;
  }

  #numberPassword {
    background-color: #141683;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3vh;
    border-radius: 5px;
  }